configuration {
  font: "JetBrainsMono Nerd Font 14";
  show-icons: true;
  hide-scrollbar: true;
  theme: "~/.config/rofi/material-ocean.rasi";
  kb-cancel: "Escape,Alt+F1";
  display-drun: "Applications:";
}
