configuration {
	modi: "drun,run";
	lines: 10;
	line-padding: 10;
	matching: "fuzzy";
	padding: 0;
	separator-style: none;
	hide-scrollbar: false;
	line-margin: 0;
	font: "JetBrainsMono 12";
	theme: "./nord.rasi";
  	display-drun: "Applications:";
	show-icons: true;
}
